@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;

  font-size: 15px;
  color: #333;
  line-height: 1.6;

  /*background: url("../images/main.jpg") center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	*/
  background-color: #fff;
}
*,
*:before *:after {
  box-sizing: border-box;
}

/* intro */

.intro {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.intro_title {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* Container */

.container {
  padding-top: 5vh;
  display: block;
  width: 100%;
  /*max-width: 1200px;*/
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
}

/* logo */
.logo_gif {
  width: 75px;
  height: 75px;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Navigation */
.nav {
  text-transform: uppercase;
  font-size: 16px;
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  position: relative;

  color: #000000;
  text-decoration: none;
  transition: color 0.2s linear;
  font-family: 'Share Tech Mono', monospace;
  cursor: pointer;
}

.nav__link:hover {
  color: #fff;
  background-color: #000000;
}
.nav__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  display: none;

  background-color: #fff;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.2s linear;
}
.nav__link:hover:after {
  opacity: 1;
}

.user_login {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 650;
  color: black;
}

/* Login */

.login {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;
  padding-left: 10%;
}

/* Login */
.signup {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;
  padding-left: 10%;
}

/* Form */
.form {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  font-family: 'Share Tech Mono', monospace;
}
.form_title {
  /*
	width: 100%;
	height: 100vh%;*/
  padding-left: 50%;
  flex-direction: column;
  justify-content: center;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  text-align: center;
}

/* Button */
.submit {
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
}
.submit:hover {
  color: #fff;
  background-color: #000000;
}
.submit:active {
  color: rgb(255, 0, 0);
  background-color: #000000;
}
.submit_sex:hover {
  color: #fff;
  background-color: #000000;
}
.submit_team:hover {
  color: #fff;
  background-color: #000000;
  flex-direction: column;
  justify-content: center;
}
.submit_adding {
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.submit_adding:hover {
  color: #fff;
  background-color: #000000;
}
.submit_adding:active {
  color: rgb(255, 0, 0);
  background-color: #000000;
}

/* Questionnaire */
.questionnaire {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;
}
.question_type {
  text-transform: uppercase;
  font-weight: 800;
}
.question {
  /*background-color: #000000;*/
  width: auto;
  /*color: #fff;*/
  padding-bottom: auto;
}
.teammate_name {
  text-transform: uppercase;
  font-weight: 650;
}

/* Text */
.main_text {
  font-weight: 900;
  text-transform: uppercase;
}
.text_field {
  border: 1px solid #000000;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 100px;
  width: 200px;
  color: #000000;
  font-size: 14px;
  font-family: 'Share Tech Mono', monospace;
}

.text_field2 {
  border: 1px solid #000000;
  background: #ffffff !important;
  outline: none;
  height: 100px;
  /*width: 200px;*/
  color: #000000;
  font-size: 14px;
  font-family: 'Share Tech Mono', monospace;
}

/* Constructor */

.constructor {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;
}

/* Table */

.table {
  border: 3px solid black;
  width: 650px;
}

.th {
  border: 1px solid black;
}

.team_table {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}

thead {
  background-color: black;
  color: white;
  border: black;
}

td_main {
  padding: 5px;
}

.no_padding {
  padding: 0;
}

.hr {
  border: 0.6px solid black;
}

/* Crew */
.crew_div {
  padding: 20px;
  padding-top: 30px;
}

.team_title {
  margin-top: 10px;
  font-size: 20px;
}

.home_text {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.tr {
  font-weight: 900;
  text-transform: uppercase;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Monofett', cursive;
font-family: 'Share Tech Mono', monospace;
*/

#participate {
  transform: scale(1.3);
  opacity: 0.9;
  cursor: pointer;
}

.horiz {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  margin-left: 10%;
}

/* Error */

.error {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15%;
}

/* Styles for voting */
.vote_block {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

.vote_table {
  width: 20%;
}

.vote_table2 {
  width: 100%;
  border-spacing: 0;
}

.rel_table {
  width: 100%;
  border-collapse: collapse;
}

.rel_cell1 {
  width: 20%;
}

.rel_cell2 {
  width: 50%;
}

.rel_cell3 {
  width: 30%;
}

.rel_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rel_table > tbody > tr > td {
  padding: 10px;
  border: 1px solid black;
}

.vote_td {
  border-bottom: 0.5px solid black;
  padding: 10px;
  vertical-align: bottom;
}

.container_assessment {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-left: 5%;
  margin-right: auto;
}

.vote_frame {
  width: 80%;
}

.vote_block2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 80%;
}

.tip {
  margin-left: 5%;
}

/* Slider style */
.slide {
  width: 500px;
  height: 300px;
  border: 1px solid #888;
  position: relative;
  text-align: center;
  /*margin-left:10%;*/
}
.slide input {
  display: none;
}

.slide input + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: rgba(90, 90, 90, 0.8);
  border: 2px solid rgba(190, 190, 190, 0.8);

  cursor: pointer;

  z-index: 100;
  position: relative;

  margin-right: 4px;
  top: 90%;

  transition: background 0.8s ease-out 0s;
}

.slide input + label:hover {
  background: rgba(250, 250, 250, 0.8);
}

.slide input:checked + label {
  background: rgba(220, 220, 220, 0.8);
}

.slide div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.slide div {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

img {
  /*width:500px;
		height:300px;*/
}

.slide input:checked + label + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slide div p {
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.border {
  padding: 5px;
  border: 1px solid black;
}

.left_border {
  border-left: 1px solid black;
  padding-left: 1%;
}

.bottom_border {
  border-bottom: 2px solid black;
}

.finish_vote_btn {
  padding: 6px;
  font-size: 18px;
  color: white;
  background: black;
  border-radius: 5px;
}

.vote_progress {
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status {
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline;
  margin-right: 20px;
}

.cross {
  color: #000000;
  text-decoration: none;
  opacity: 0.6;
}

.cross:hover {
  opacity: 1;
}

.status_flex {
  display: flex;
  flex-direction: row;
}

.res_container {
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
}

.result_table {
  width: 100%;
}

.result_table > tbody > tr > td {
  border: 0.5px solid black;
}

.log_table {
  width: 90%;
  margin-left: 5%;
  padding-top: 30px;
  text-align: center;
}

.log_table > tbody > tr > td {
  border-bottom: 0.5px solid black;
}

.top_cadet_div {
  /*text-align: center;*/
  display: flex;
  flex-wrap: wrap;
}

.top_cadet_btn {
  display: inline-block;
  border: 0;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 5px;
  vertical-align: bottom;
  cursor: pointer;
}

.top_cadet_text {
  background: white;
  width: auto;
}

.top_cadet_card {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 20px;
}

.token_horiz_block {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.token_block {
  margin-right: 10%;
}

.vote_business_block {
  width: 33%;
}

.vote_block_business {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.weekly_vote_block {
  margin: 1%;
}

.home-nav {
  width: 100%;
  display: flex;
  background: #000;
  border-bottom: 3px solid #fff;
  height: 10vh;
  position: fixed;
  z-index: 100;
  box-shadow: 0 5px 5px -5px #333;
}

.header-container {
  color: #fff !important;
  flex-wrap: wrap;
  padding: 0 2%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo_href {
  height: 50%;
}

.home_header_logo_block {
  height: 100%;
}

.logo_img {
  height: 100%;
}

.profile_nav_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  font-size: 1.8vh;
}

.header_profile_block {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  align-items: center;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.header_profile_block:hover {
  text-decoration: none;
  color: white;
}

.header_profile_img {
  /*max-width:30px;
    max-height:30px;*/
  /*height:50%;*/
  height: 4vh;
}

.header_before_load_margin {
  margin-left: 5%;
}

/*h2 {
    background: linear-gradient(to right, #7000FF, #DB00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
}*/

.main_menu_title_container {
  margin-left: 35vw;
  margin-top: 5vh;
}

.cards_flex_container {
  display: flex;
  justify-content: center;
  margin-top: 13.2vh;
}

.white_main_body {
  display: block !important;
  background-color: #3a1f3d !important;
}

.card_container {
  width: 16vw;
  height: 40vh;
  border: double 3px transparent;
  border-radius: 15px;
  background: #000;
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 12.5vh 1vw;
  box-shadow: 0 0 40px 0 #333, 0 2px 2px -2px #333;
  text-decoration: none;
}

.card_container:hover {
  text-decoration: none;
}

.menu_image {
  width: 9vw;
  height: auto;
  margin: 4vh 3.6vw;
}

.ask_image {
  width: 9vw;
  height: auto;
  margin: 4vh 3.6vw;
}

.audience_image {
  width: 9vw;
  height: auto;
  margin: 4vh 3.2vw 3.5vh 3.2vw;
}

.profile_image {
  width: 9.4vw;
  height: auto;
  margin: 4vh 3.1vw 3.5vh 3.1vw;
}

.process_image {
  width: 9vw;
  height: auto;
  margin: 4vh 3.3vw 5vh 3.3vw;
}

.card_title {
  font-size: 1.2vw;
  text-align: center;
  color: white;
}

.small_card_container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small_card_flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.small_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 2vw;
  margin-bottom: 3vh;
  border: double 3px transparent;
  font-size: 1vw;
  border-radius: 15px;
  background: #000;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 0 40px 0 #333, 0 2px 2px -2px #333;
  text-decoration: none;
  min-width: 15%;
}

.small_card_img {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.small_card_text {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.info_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: double 3px transparent;
  font-size: 1vw;
  border-radius: 15px;
  background: #000;
  /*background-origin: border-box;
  background-clip: content-box, border-box;*/
  box-shadow: 0 0 40px 0 #333, 0 2px 2px -2px #333;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.info_card_block {
  min-width: 33%;
}

.info_card_text_block {
  width: 100%;
}

.small_card_rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.small_card_special {
  width: 40%;
}

.small_card_special2 {
  width: 25%;
  text-align: center;
}

.info_card_text {
  width: 100%;
  text-align: center;
}

.green {
  color: #45dc2c;
}

.red {
  color: #dc2c2c;
}

.input_eth_container {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 5%;
}

.dark_block {
  width: 100%;
  border-radius: 15px;
  background: black;
  color: white;
  margin-bottom: 3vh;
}

.eth_input {
  width: 90%;
  margin-left: 5%;
  font-size: 1vw;
  margin-bottom: 2vh;
}

.blue {
  color: #5868f8;
}

.eth_button {
  border-radius: 15px;
  width: 100%;
  font-size: 1vw;
  background: white;
  padding: 20px 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.eth_button:hover {
}

.eth_text {
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
}

.purple {
  color: #7245f2;
}

.black_buttons_block {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.black_button {
  border-radius: 15px;
  font-size: 1vw;
  background: black;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  margin-right: 50px;
  text-decoration: none;
}

.black_button:hover {
  color: white;
  text-decoration: none;
}

.service_page_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_page_content {
  width: 70vw;
  margin: 3.5rem 0;
  font-family: 'PT Mono', monospace;
}

.service_page_title {
  font-size: 1.5rem;
}

.service_page_tokens {
  color: #45dc2c;
}

.service_page_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border: 1.5px solid white;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width: 12rem;
  height: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
}

.service_page_red {
  color: #d01924;
}

.service_page_button_disabled {
  cursor: default;
  opacity: 0.7;
}

.service_page_button:disabled {
  cursor: default;
  opacity: 0.7;
}

.service_page_buttons_container {
  display: flex;
  width: 30rem;
  justify-content: space-between;
}

.tooltip {
  position: relative;
}

.tooltip > img {
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 55rem;
  background-color: white;
  text-align: center;
  padding: 5px 0;
  border: 1px solid black;
  font-size: 0.8rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.services_table {
  width: 100%;
  height: 65vh;
  max-height: 65vh;
  margin-top: 2vh;
}

.scroll_block {
  overflow: auto;
  height: 65vh;
  max-height: 65vh;
  scrollbar-color: black white;
}

.scroll_block::-webkit-scrollbar-track {
  background: white; /* цвет дорожки */
}
.scroll_block::-webkit-scrollbar-thumb {
  background-color: black; /* цвет плашки */
}

.services_td {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

.services_name_block {
  width: 40%;
}

.services_price_block {
  width: 20%;
}

.services_button_block {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.scroll_table {
  width: 100%;
  border-collapse: collapse;
}

.resume-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: 'Decima Mono Cyr';
}

.resume-content {
  padding-top: 5rem;
  padding-bottom: 3.5rem;
}

.resume-title {
  font-size: 1.7rem;
  font-weight: 700;
}

.resume-section {
  margin: 3.5rem 0;
}

.resume-section-title {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.resume-form-control {
  margin: 1.5rem 0;
  width: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
}

.resume-input {
  border: 1px solid black;
  border-radius: 0.4rem;
  height: 1.5rem;
  width: 15rem;
  padding-left: 0.3rem;
}

.resume-radio-group {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.resume-textarea {
  border: 1px solid black;
  border-radius: 0.4rem;
  width: 25rem;
  min-height: 10rem;
  resize: vertical;
  padding: 0.7rem;
  font-family: 'Decima Mono Cyr';
}

.resume-textarea::placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-textarea:-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-textarea::-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-textarea-form-control {
  margin: 1.5rem 0;
  width: 55rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
}

.resume-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.resume-black-button {
  background-color: black;
  font-family: 'Decima Mono Cyr';
  font-weight: 300;
  border-radius: 0.5rem;
  border: 0;
  color: white;
  width: 15rem;
  height: 1.7rem;
}

.resume-black-button:hover {
  cursor: pointer;
}

.resume-date-input {
  display: flex;
}

.resume-birthday-input {
  width: 4rem;
  border: 1px solid black;
  border-radius: 0.4rem 0 0 0.4rem;
  height: 1.5rem;
  padding: 0.1rem 0.2rem;
  font-family: 'Decima Mono Cyr';
  text-align: center;
  color: #c4c4c4;
}

.resume-birthday-input::placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-birthday-input:-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-birthday-input::-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-birthmonth-input {
  width: 6rem;
  height: 1.85rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.1rem 0.2rem;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 0;
  border-right: 0;
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
  text-align: center;
}

.resume-birthyear-input {
  width: 4rem;
  border: 1px solid black;
  border-radius: 0 0.4rem 0.4rem 0;
  height: 1.5rem;
  padding: 0.1rem 0.2rem;
  font-family: 'Decima Mono Cyr';
  text-align: center;
  color: #c4c4c4;
}

.resume-radio-input:checked {
  filter: brightness(0);
}

.resume-birthyear-input::placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-birthyear-input:-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-birthyear-input::-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-citizenship-input {
  width: 15rem;
  height: 1.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.1rem 0.2rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.4rem;
  font-family: 'Decima Mono Cyr';
  text-align: center;
  background: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='15' viewBox='0 0 29 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='29' y2='1' stroke='%23C4C4C4' stroke-width='2'/%3E%3Cline y1='8' x2='29' y2='8' stroke='%23C4C4C4' stroke-width='2'/%3E%3Cline y1='14' x2='29' y2='14' stroke='%23C4C4C4' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 7px;
}

.resume-card {
  border: 1px solid black;
  border-radius: 0.4rem;
  width: 14rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Decima Mono Cyr';
  font-size: 0.7rem;
}

.resume-card-title {
  margin-bottom: 0.3rem;
}

.cross-icon {
  cursor: pointer;
  height: 0.9rem;
}

.plus-icon {
  cursor: pointer;
  height: 0.9rem;
}

.resume-language-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 20rem;
}

.resume-language-content-container {
  display: flex;
}

.add-language-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.resume-language-name-input {
  width: 7rem;
  border: 1px solid black;
  border-radius: 0.4rem 0 0 0.4rem;
  height: 1.5rem;
  padding: 0.1rem 0.2rem;
  font-family: 'Decima Mono Cyr';
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.resume-language-level-input {
  width: 11rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 0;
  border-radius: 0 0.4rem 0.4rem 0;
  height: 1.5rem;
  padding: 0.1rem 0.2rem;
  font-family: 'Decima Mono Cyr';
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.resume-modal-layout {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-modal {
  padding: 1rem 1.5rem;
  width: 55rem;
  background-color: white;
  font-family: 'Decima Mono Cyr';
  z-index: 999;
}

.resume-modal-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.resume-modal-input {
  width: 15rem;
  height: 1.5rem;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
}

.resume-modal-input::placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-modal-input:-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-modal-input::-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-modal-description {
  margin: 1.5rem 0;
}

.resume-add-input-group {
  display: flex;
  align-items: center;
}

.resume-add-input-group > .plus-icon {
  position: relative;
  right: 1.5rem;
}

.resume-skill-specializations-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0 1rem 0;
}

.resume-skill-specialization-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}

.resume-skill-specialization-group > .cross-icon {
  position: relative;
  right: 1.5rem;
}

.resume-skill-specilation-card {
  border: 1px solid black;
  padding: 0.3rem 2.5rem 0.3rem 1.5rem;
  border-radius: 0.4rem;
  font-family: 'Decima Mono Cyr';
  font-weight: 300;
  font-size: 0.8rem;
}

.resume-modal-button-container {
  display: flex;
  width: 100%;
  justify-content: end;
}

.resume-disabled-modal {
  display: none;
  opacity: 0;
}

.resume-disabled-modal-layout {
  display: 0;
  opacity: 0;
  pointer-events: none;
}

.resume-bold-text {
  font-weight: 700;
}

.resume-modal-form-group {
  margin: 1rem 0;
  display: flex;
}

.resume-modal-month-input {
  width: 5rem;
  height: 1.65rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.1rem 0.2rem;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 0;
  border-radius: 0.4rem 0 0 0.4rem;
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
  text-align: center;
}

.resume-modal-year-input {
  width: 3.5rem;
  border: 1px solid black;
  border-radius: 0 0.4rem 0.4rem 0;
  height: 1.32rem;
  padding: 0.1rem 0.2rem;
  font-family: 'Decima Mono Cyr';
  text-align: center;
  color: #c4c4c4;
}

.resume-modal-year-input::placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-modal-year-input:-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-modal-year-input::-ms-input-placeholder {
  color: #c4c4c4;
  font-family: 'Decima Mono Cyr';
}

.resume-modal-radio-group {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

input[type='radio'] {
  margin: 0;
}

.resume-modal-radio-label {
  margin-left: 0.5rem;
}

.resume-hidden-group {
  display: none;
}

.resume-mb-1 {
  margin-bottom: 1rem;
}

.resume-mini-title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 980px) {
  .resume-content {
    width: 100%;
    padding: 4rem 2rem;
  }

  .resume-form-control {
    width: 100%;
    font-size: 2.5rem;
  }

  .resume-textarea-form-control {
    width: 100%;
    font-size: 2.5rem;
  }

  .resume-title {
    font-size: 3.5rem;
  }

  .resume-section-title {
    font-size: 2.5rem;
  }

  .resume-input {
    width: 25rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 0 1rem;
  }

  .resume-birthday-input {
    width: 7rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .resume-birthmonth-input {
    width: 9rem;
    height: 3.32rem;
    font-size: 1.5rem;
  }

  .resume-birthyear-input {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .resume-radio-group {
    width: 27rem;
    font-size: 1.5rem;
  }

  .resume-citizenship-input {
    width: 27rem;
    height: 3rem;
    font-size: 2rem;
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 15px;
  }

  .resume-card {
    width: 26rem;
    font-size: 1.5rem;
  }

  .cross-icon {
    width: 2rem;
  }

  .resume-black-button {
    width: 27rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .resume-textarea {
    width: 40rem;
    font-size: 1.5rem;
  }

  .resume-language-container {
    width: 27rem;
  }

  .resume-language-name-input {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
  }

  .resume-language-level-input {
    width: 17rem;
    height: 3rem;
    font-size: 1.2rem;
  }

  .cross-icon.remove-language-button {
    height: 1.2rem;
    position: relative;
    bottom: 0.7rem;
  }

  .plus-icon {
    height: 2rem;
  }

  .resume-modal {
    font-size: 2rem;
  }

  .resume-modal-title {
    font-size: 2.5rem;
  }

  .resume-modal-input {
    width: 25rem;
    height: 2.8rem;
    font-size: 1.7rem;
  }

  .resume-skill-specilation-card {
    width: 13rem;
    height: 3rem;
    font-size: 1.7rem;
  }

  .resume-skill-specialization-group > .cross-icon {
    position: relative;
    bottom: 1.2rem;
    right: 2rem;
  }

  .resume-modal-month-input {
    width: 10rem;
    height: 3rem;
    font-size: 1.7rem;
  }

  .resume-modal-year-input {
    width: 10rem;
    height: 2.65rem;
    font-size: 1.7rem;
  }
}

.resumes-search {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.resumes-search-input {
  padding: 0 0.5rem;
  width: 52rem;
  height: 2.2rem;
  font-size: 1.1rem;
  border: 1px solid black;
  font-family: 'Decima Mono Cyr';
}

.resumes-search-button {
  border-left: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
  height: 2.33rem;
  cursor: pointer;
}

.resumes-search-button:hover {
  background: white;
}

.resumes-root {
  margin-top: 3rem;
  display: flex;
}

.resumes-cards {
  width: 53.5rem;
}

.resumes-list-card {
  width: 53.5rem;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  padding: 0.8rem;
  cursor: pointer;
}

.resume-list-card-title {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.resume-list-card-age {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}

.resume-list-card-section-title {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.resume-list-card-section-content {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.resumes-pagination-block {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}

.resumes-page-button {
  padding: 0.3rem 0.7rem;
  margin: 0.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.resumes-dots {
  font-weight: 700;
  padding-top: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.resumes-filters {
  margin-left: 3.5rem;
}

.resumes-filter-title {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.resumes-filter {
  margin-bottom: 1rem;
}

.resumes-age-filter-control {
  display: flex;
}

.resume-age-filter-group {
  display: flex;
  position: relative;
}

.resume-age-filter-label {
  position: absolute;
  left: 0.5rem;
  top: 0.1rem;
  color: #c4c4c4;
  font-weight: 300;
  font-family: 0.9rem;
}

.resume-age-filter-input {
  padding-left: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  height: 1.2rem;
  border-top: 1px solid black;
  border-left: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#age-low-border {
  border-left: 1px solid black;
  border-radius: 0.3rem 0 0 0.3rem;
}

#age-high-border {
  border-radius: 0 0.3rem 0.3rem 0;
}

.resumes-city-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.1rem 0.2rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.4rem;
  font-family: 'Decima Mono Cyr';
  text-align: center;
  background: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='15' viewBox='0 0 29 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='29' y2='1' stroke='%23C4C4C4' stroke-width='2'/%3E%3Cline y1='8' x2='29' y2='8' stroke='%23C4C4C4' stroke-width='2'/%3E%3Cline y1='14' x2='29' y2='14' stroke='%23C4C4C4' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 7px;
}

.resumes-result-text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Decima Mono Cyr';
  margin-top: 1rem;
}

.resume-span {
  width: 27%;
}

.resume-textarea-span {
  width: 1%;
}

.resume-hidden-field {
  display: none;
}

.resume-language-view {
  display: flex;
  margin: 0.5rem 0;
}

.resume-language-name-view {
  font-size: 0.9rem;
  width: 7rem;
  border: 1px solid black;
  border-radius: 0.4rem 0 0 0.4rem;
  height: 1.5rem;
  padding: 0.1rem 0.2rem;
  font-family: 'Decima Mono Cyr';
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-language-level-view {
  font-size: 0.9rem;
  width: 11rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 0;
  border-radius: 0 0.4rem 0.4rem 0;
  height: 1.5rem;
  padding: 0.1rem 0.2rem;
  font-family: 'Decima Mono Cyr';
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .resume-language-name-view {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .resume-language-level-view {
    width: 17rem;
    height: 3rem;
    font-size: 1.3rem;
  }
}
