{% extends "base.html" %}

{% block scripts %}
<!--script src="{{url_for('static', filename='js/angular_min.js')}}"></script-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="{{url_for('static', filename='js/vote.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container" ng-app="app" ng-controller="ctrl" ng-init="start_voting({{team_id}});" style="margin-left:10%;width:80%;">
    <br>
    <div class="nav_href">
        <a href="/">главная</a> - <a href="/assessment_page">оценка вклада</a> - <a href="/assessment_axis">участвовать в оценке</a> - <a class="cur_href" href="">оценивание по оси власти</a>
    </div>
    <br>
    <div class="nav_href" style="display:flex; justify-content:center;">
        {% if is_first %} ось Отношений {{voting_num_rel}}/{{teams_for_voting}}, {% endif %}
        {% if is_second %}ось Дела {{voting_num_bus}}/{{teams_for_voting}}, {% endif %}
        <span class="cur_href"> ось Власти {{voting_num_auth}}/1 </span>
    </div>
    <br><br>
    <h2 style="text-align:center;">Оценка по оси власти</h2>
    <h3>Критерий 1 - “Управляемость”</h3>
    <div style="width:60%;">
        <p>“Управляемость” - способность участвовать в ритме Корпуса, выдерживать его расписание, соблюдать взятые на себя обязательства.</p>
        <p>Участники оценки отвечали на вопрос; “Считаете ли вы, что в этом месяце соблюдали расписание корпуса и выдерживали внутренние ритмы сообщества? Обратите внимание на то, что командная работа к этому критерию не относится, командные встречи и практики оцениваются в рамках оси "Дела". Дайте полный и развёрнутый ответ.”</p>
        <p>Ниже представлены ответы. Выставите свои оценки, опираясь на представленные ответы.</p>
    </div>
    <table class="rel_table" cellspacing="0">
        <tr>
            <td class="rel_cell1">Имя</td><td class="rel_cell2" style="text-align:center;">Ответ курсанта</td><td class="rel_cell3" style="text-align:center;">Ваша оценка<br>Есть ли управляемость?</td>
        </tr>
        {% for member in team_members %}
            <tr>
                <td class="rel_cell1"><b>{{member[1]}} {{member[2]}}</b></td>
                <td class="rel_cell2" >{{answers[criterions[0].id][loop.index0]}}</td>
                <td class="rel_cell3">
                    <div class="rel_flex">
                        <div><input type="radio" name="{{criterions[0].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[0].id}},1)">Да</div>
                        <div><input  type="radio" name="{{criterions[0].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[0].id}},0)">Нет</div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <h3>Критерий 2 - “Самоуправление”</h3>
    <div style="width:60%;">
        <p>Самоуправление - запуск, организация и проведение студентами событий, процессов, встраивание их в расписание Корпуса без контроля сверху.</p>
        <p>Участники оценки отвечали на вопрос; “Считаете ли вы, что в этом месяце организовывали и поддерживали полезный для сообщества процесс без контроля сверху? Дайте полный, развёрнутый ответ. Если есть артефакты, подтверждающие это - также укажите на их наличие.”</p>
        <p>Ниже представлены ответы. Выставите свои оценки, опираясь на представленные ответы.</p>
    </div>
    <table class="rel_table" cellspacing="0">
        <tr>
            <td class="rel_cell1">Имя</td><td class="rel_cell2" style="text-align:center;">Ответ курсанта</td><td class="rel_cell3" style="text-align:center;">Ваша оценка<br>Есть ли самоуправление?</td>
        </tr>
        {% for member in team_members %}
            <tr>
                <td class="rel_cell1"><b>{{member[1]}} {{member[2]}}</b></td>
                <td class="rel_cell2" >{{answers[criterions[1].id][loop.index0]}}</td>
                <td class="rel_cell3">
                    <div class="rel_flex">
                        <div><input type="radio" name="{{criterions[1].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[1].id}},1)">Да</div>
                        <div><input  type="radio" name="{{criterions[1].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[1].id}},0)">Нет</div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <h3>Критерий 3 - “Стратегия”</h3>
    <div style="width:60%;">
        <p>Стратегия - планирование, начинание и поддержка долгосрочных процессных цепочек, способствующих глобальному развитию Корпуса как проекта, в соответствии с его позиционированием.</p>
        <p>Участники оценки отвечали на вопрос; “Считаете ли вы, что в этом месяце поддерживали или организовывали процесс, способствующий глобальному, стратегическому развитию Корпуса как проекта? Дайте полный, развёрнутый ответ и приведите факты, подтверждающие это.”</p>
        <p>Ниже представлены ответы. Выставите свои оценки, опираясь на представленные ответы.</p>
    </div>
    <table class="rel_table" cellspacing="0">
        <tr>
            <td class="rel_cell1">Имя</td><td class="rel_cell2" style="text-align:center;">Ответ курсанта</td><td class="rel_cell3" style="text-align:center;">Ваша оценка<br>Есть ли стратегия?</td>
        </tr>
        {% for member in team_members %}
            <tr>
                <td class="rel_cell1"><b>{{member[1]}} {{member[2]}}</b></td>
                <td class="rel_cell2" >{{answers[criterions[2].id][loop.index0]}}</td>
                <td class="rel_cell3">
                    <div class="rel_flex">
                        <div><input type="radio" name="{{criterions[2].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[2].id}},1)">Да</div>
                        <div><input  type="radio" name="{{criterions[2].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[2].id}},0)">Нет</div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
            <button class="nav__link finish_vote_btn" id="finish_button" ng-click="finish_vote({{team_id}},{{axis.id}});">Закончить оценку</button>
        <br><br>
</div>


{% endblock %}