{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-left:10%;width:80%;">
    <br>
    <h2 style="text-align:center;">Оценка {{voting_results['name']}} по оси дела</h2>
    <table class="rel_table" cellspacing="0">
        <tr><td class="rel_cell1">Дата выставления оценки</td> <td>Движение</td> <td>Завершенность</td> <td>Подтверждение средой</td></tr>
        {% for date in dates %}
        <tr>
            <td>{{date}}</td>
            <td>{{ voting_results['marks1'][loop.index-1] }}</td>
            <td>{{ voting_results['marks2'][loop.index-1] }}</td>
            <td>{{ voting_results['marks3'][loop.index-1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <button class="nav__link finish_vote_btn" id="finish_button" onclick="window.close();">Закрыть</button>
    <br><br>
</div>


{% endblock %}