{% extends "base.html" %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="{{url_for('static', filename='js/top_cadets.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container" ng-app="app" ng-controller="ctrl" style="margin-left:10%; width:80%;">
    <div class="nav_href">
        <a href="/">главная</a> - <a href="/assessment_page">оценка вклада</a> - <a href="/participate">участвовать в оценке</a> - <a class="cur_href" href="">выбрать коллегию</a>
    </div>
    <h2>Выберите от 1 до 5 курсантов, которые будут оценивать ось отношений</h2>
    <div class="top_cadet_div" >
        {% for cadet in cadets %}
        <div class="top_cadet_card">
            {% if cadet[1] %}
                <button class="top_cadet_btn" id="{{cadet[0]}}" ng-click="choose({{cadet[0]}});"
                        style="background: url('../static/user_photos/user{{cadet[0]}}.jpg') 100% 100% no-repeat; background-size: cover;">
                </button>
            {% else %}
                <button class="top_cadet_btn" id="{{cadet[0]}}" ng-click="choose({{cadet[0]}});"
                        style="background: url('../static/images/no-photo.jpg'); background-size: cover;">
                </button>
            {% endif %}
            <div class="top_cadet_text">{{cadet[2]}}</div>
        </div>

        {% endfor %}
    </div><br><br>
    <button class='nav__link border' ng-click="confirm();">Подтвердить выбор</button>
    <button class='nav__link border' onclick="history.back();">Назад</button>
    <br><br><br>
</div>
{% endblock %}