{% extends "base.html" %}

{% block scripts %}
<!--script src="{{url_for('static', filename='js/angular_min.js')}}"></script-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="{{url_for('static', filename='js/relations_vote.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container" ng-app="app" ng-controller="ctrl" ng-init="start_voting({{team_id}});"
     style="margin-left:10%;width:80%;">
    <br>
    <div class="nav_href">
        <!--a href="/">главная</a> - <a href="/assessment_page">оценка вклада</a> - <a href="/assessment_axis">выбор оси</a> - <a href="/assessment_team?axis_id=1">выбор команды</a> - <a class="cur_href" href="">оценивание по оси отношений</a-->
        <a href="/">главная</a> - <a href="/assessment_page">оценка вклада</a> - <a href="/assessment_axis">участвовать
        в оценке</a> - <a class="cur_href" href="">оценивание по оси отношений</a>
    </div>
    <br>
    <div class="nav_href" style="display:flex; justify-content:center;">
        <span class="cur_href">ось Отношений {{voting_num_rel}}/1</span>
        {% if is_second %}, ось Дела {{voting_num_bus}}/{{teams_for_voting}} {% endif %}
        {% if is_third %}, ось Власти {{voting_num_auth}}/1 {% endif %}
    </div>
    <br><br>
    <h2 style="text-align:center;">Оценка участников Корпуса по оси отношений</h2>
    <h3 style="text-align:center;">Оценка “Энергии”</h3>
    <div>
        <p>“Энергия” - интенсивность работы участника, его выносливость: количество инициированных и выполняемых
            процессов, доля сил и времени, инвестируемых в проект. Участник, постоянно, толкающий проект вперёд, достоин
            балла по этому критерию.</p>
        <p>Участники, оценивая уровень своей энергии, выбирали один из 3 вариантов ответа: <br>
            <span class="voting_label1">1</span>. Я считаю что был предельно энергичен, прикладывал все усилия, чтобы наш с командой проект развивался. <br>
            <span class="voting_label2">2</span>. В заданном промежутке в основном я был довольно энергичен, но порой случались и провалы.<br>
            <span class="voting_label3">3</span>. Прошедший период в плане энергии прошёл не так как хотелось бы, не могу сказать что был на пике.</p>
        <br><br>
        <p>Далее каждый член команды оценивал уровень энергии участника, выбирая один из 3 вариантов:<br>
        <span class="voting_label1">1</span>.На мой взгляд он (она) был максимально энергичен.<br>
        <span class="voting_label2">2</span>.Кажется, что он (она) был достаточно энергичен, хотя бывали и спады.<br>
        <span class="voting_label3">3</span>.Считаю что уровень энергии на заданном промежутке времени был ниже обычного.<br>
        Оцените энергию каждого участника опираясь на ответы оцениваемых и членов их команды.<br>
        Кроме того, каждая команда также проходила социометрический опрос, результаты этого опроса можно просмотреть нажав на название команды в соответствующей ячейке таблицы.</p>
    </div><br><br>
    <table class="rel_table" cellspacing="0">
        <tr>
            <td class="rel_cell1">Имя</td>
            <td class="center_cell">Оценил сам</td>
            <td class="center_cell">Оценили члены команд</td>
            <td class="center_cell">Результаты социометрических опросов</td>
            <td class="rel_cell3" style="text-align:center;">Ваша оценка Энергии</td>
        </tr>
        {% for member in team_members %}
        <tr>
            <td class="rel_cell1"><b>{{member[1]}} {{member[2]}}</b></td>
            <td class="center_cell"><span class="voting_label{{ energy_answers[member[0]]['self'] }}">{{ energy_answers[member[0]]['self'] }}</span></td>
            <td class="center_cell">
                {% for answer in energy_answers[member[0]]['team'] %}
                    <span class="voting_label{{answer}}">{{answer}}</span>
                {% endfor %}
            </td>
            <td class="center_cell">
                {% for team in energy_answers[member[0]]['teams'] %}
                    <a href="/socio_results/{{team.id}}" target="_blank">{{team.name}}</a>
                {% endfor %}
            </td>
            <td class="rel_cell3">
                <div class="rel_flex">
                    <div><input type="radio" name="{{criterions[1].id}}_{{member[0]}}"
                                ng-click="vote_for({{member[0]}},{{criterions[1].id}},1)">Да
                    </div>
                    <div><input type="radio" name="{{criterions[1].id}}_{{member[0]}}"
                                ng-click="vote_for({{member[0]}},{{criterions[1].id}},0)">Нет
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div style="width:100%;display:flex;flex-direction:row;justify-content:flex-end;margin-top:20px;margin-bottom:30px;">
        <button class="nav__link finish_vote_btn" id="finish_button" style="width:200px;" ng-click="finish_vote(0, 2);">Далее</button>
    </div>
</div>


{% endblock %}