{% extends "base.html" %}

{% block scripts %}
<!--script src="{{url_for('static', filename='js/angular_min.js')}}"></script-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
{% endblock %}

{% block content %}
<div class="container" ng-app="app" ng-controller="ctrl" ng-init="start_voting({{team_id}});" style="margin-left:10%;width:80%;">
    <br>
    <div class="nav_href">
        <a href="/">главная</a> - <a href="/assessment_page">оценка вклада</a> - <a href="/assessment_axis">участвовать в оценке</a> - <a class="cur_href" href="">текущее оценивание</a>
    </div>
    <br>
    <div class="nav_href" style="display:flex; justify-content:center;">
        {% if axis_id == 1 %}
            <span class="cur_href">ось Отношений {{voting_num_rel}}/1</span>
        {% else %}
            ось Отношений {{voting_num_rel}}/1
        {% endif %}
        {% if is_second %},
            {% if axis_id == 2 %}
                <span class="cur_href">ось Дела {{voting_num_bus}}/{{teams_for_voting}}</span>
            {% else %}
                ось Дела {{voting_num_bus}}/{{teams_for_voting}}
            {% endif %}
        {% endif %}
        {% if is_third %},
            {% if axis_id == 3 %}
                <span class="cur_href">ось Власти {{voting_num_auth}}/1</span>
            {% else %}
                ось Власти {{voting_num_auth}}/1
            {% endif %}
        {% endif %}
    </div>
    <br><br>
    <h2 style="text-align:center;">Выставленные вами оценки по оси
        {% if axis_id == 1 %}
            отношений
        {% endif %}
        {% if axis_id == 2 %}
            дела
        {% endif %}
        {% if axis_id == 3 %}
            власти
        {% endif %}
    </h2>
    {% for team in voting_info %}
        <h3>{{team}}</h3>
        <table class="rel_table" cellspacing="0">
        <tr>
            <td class="rel_cell1">Имя</td>
            {% for c in criterions %}
                <td style="text-align:center;">{{c.name}}</td>
            {% endfor %}
        </tr>
        {% for member in voting_info[team]['marks'] %}
            <tr>
                <td class="rel_cell1">{{voting_info[team]['marks'][member]['name']}}</td>
                {% for c in criterions %}
                    <td style="text-align:center;">{{voting_info[team]['marks'][member][c.name]}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                {% for criterion in criterions %}
                    <td>
                        <div style="width:100%; display: flex; flex-direstion: row; justify-content: center;">
                        <button class="nav__link finish_vote_btn" onclick="document.location.href='/revote?axis_id={{axis_id}}&c_id={{criterion.id}}&team_id={{voting_info[team]['id']}}';">Изменить</button>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        </table><br>

        <br><br>
    {% endfor %}
    <div style="width:100%; display: flex; flex-direstion: row; justify-content: flex-end;">
        <button class="nav__link finish_vote_btn" onclick="document.location.href='/start_vote';">Подтвердить и продолжить</button>
    </div>
    <br><br>
</div>


{% endblock %}