{% extends "base.html" %} {% block content %}
<div class="nav_href" style="margin-top:2vh; margin-left:10%;">
        <a href="/">главная</a> - <a href="/community">сообщество</a> - <a href="/services">услуги</a> - <a class="cur_href" href="">добавить услугу</a>
    </div>
<form class="service_page_container" method="post">

    <div class="service_page_content">
        <div class="service_page_title">
            Заполните все поля и нажмите “Сохранить”.<br>Вы всегда сможете удалить или изменить услугу.
        </div>
        <div class="service_page_text">
            {{ form.hidden_tag() }}
            <p>
                Введите название новой услуги в именительном падеже<br>
                <input style="width:30%;" name="name" required>
            </p>
            <p>
                Введите название единицы услуги (часы, дни, штуки,метры и т.п)<br>
                <input style="width:30%;" name="unit" required>
            </p>
            <p>
                Укажите стоимость единицы услуги в токенах вклада<br>
                <input style="width:30%;" name="price" required>
            </p>
            <p>
                Укажите адрес etherium кошелька для приёма платежей. Если услугу оказывает сообщество Корпус, то оставьте поле пустым, адрес кошелька сообщества будет автоматически подставлен.
                <br><input style="width:100%;" name="address">
            </p>
            <p>
                Дайте подробное описание услуги или укажите ссылки, по которым можно подробно ознакомиться с услугой. Укажите также способ предоставления вам кода, подтверждающего оплату.<br>
                <textarea name="description" style="width:100%; min-height:10vh;"></textarea>
            </p>
        </div>
        <div class="service_page_buttons_container">
            <button class="service_page_button" onclick="document.location.href='/services';" type="button">Отменить</button>
            <button class="service_page_button" type="submit">Подтвердить</button>
        </div>
    </div>
</form>
{% endblock %}
