{% extends "base.html" %}

{% block content %}
<div class="nav_href" style=" margin-top:2vh;margin-left:10%;">
            <a href="/">главная</a> - <a href="/blockchain">блокчейн</a> - <a href="/budget">бюджет</a> - <a href="/current_budget/{{budget_id}}">текущий бюджет</a> - <a class="cur_href" href="">добавить запись</a>
        </div>
<div class="container">
    <div class="signup" style="width:80%;">
        <h2> Добавить статью в бюджет </h2>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <p>
                <span class="main_text">Статья расхода</span> <br>
                {{form.item()}}
            </p>
            <p>
                <span class="main_text">Стоимость</span> <br>
                {{form.cost()}}
            </p>
            <div class="black_buttons_block" style="margin-left:0;">
        <button class="black_button"  type="submit">Подтвердить</button>
        <button class="black_button" type="button" onclick="window.location.href='/current_budget/{{budget_id}}';">Отмена</button>
    </div>
        </form>
    </div>
</div>
{% endblock %}
