{% extends "base.html" %}
{% block content %}
<div class="small_card_container">
    <div class="small_card_flex">
        <a href="/" class="small_card" style="border:0; width:40%;margin-left:0;">
            <p class="small_card_text"><b>Вы уверены, что хотите внести текущие записи в блокчейн?</b> После этого действия система моментально забонирует токены вклада и инвестиций, а после окончания оценки отправит их на соответствующие кошельки</p>
            <div style="display:flex; flex-direction:row;justify-content:space-between;width:90%;margin-left:5%;margin-bottom:5vh;">
                <button class="eth_button" style="width: 40%;">Подтвердить</button>
                <button class="eth_button" style="width: 40%;">Отмена</button>
            </div>
        </a>
    </div>

    </div>

{% endblock %}