<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}" type="image/jpg">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Monofett|Monoton|Montserrat|Share+Tech+Mono&display=swap&subset=cyrillic-ext"
          rel="stylesheet">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title> KorpusToken </title>
    {% endif %}
</head>
<body class="login_background">
<div class="logo_container">
    <img class="reg_logo" src="{{url_for('static', filename='images/logo_korpus_reg.png')}}">
</div>
<div class="profile_body">
    <div class="personal_area_div account_form">
        <div class="personal_area_form_container">
            <div class="personal_area_form">
                <div class="title_flex">
                    <h4 class="personal_area_h">Регистрация</h4>
                </div>
                <p style="font-size:3vh;">Ваши данные успешно сохранены!<br><br>Для завершения регистрации пройдите верификацию в Telegram.</p>
            </div>
        </div>
        <div class="button_row">
            <button class="account_button" onclick="document.location.href='https://t.me/korpusnewbot?start=';">В Telegram
            </button>
        </div>
    </div>
</div>
</body>
</html>
