{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="qustionnaire">
        <form class="form" style="padding-top: 15%; padding-left: 0%">
            <h2>Выберите ось</h2>
            {% if access.responsibilities.top_cadet%}
                <a class="nav__link" href="{{ url_for('assessment_team', axis_id=axises[0][0]) }}" style="width: auto%; height: auto%;">{{ axises[0][1] }}</a>
            {% endif %}
            {% if (access.responsibilities.expert or access.responsibilities.tracker)%}
                <a class="nav__link" href="{{ url_for('assessment_team', axis_id=axises[1][0]) }}" style="width: auto%; height: auto%;">{{ axises[1][1] }}</a>
            {% endif %}
            {% if access.responsibilities.chieftain %}
                <a class="nav__link" href="{{ url_for('assessment_team', axis_id=axises[2][0]) }}" style="width: auto%; height: auto%;">{{ axises[2][1] }}</a>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}