{% extends "base.html" %}

{% block scripts %}
<!--script src="{{url_for('static', filename='js/angular_min.js')}}"></script-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="{{url_for('static', filename='js/vote.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container" ng-app="app" ng-controller="ctrl" ng-init="start_voting({{team_id}});">
    <div>
            {% if axis.id == 3 %}
                <div class="vote_block">
                    <table class="vote_table2">
                    {% if team_title %}
                        <tr><td><h3>Команда «{{team_title}}»</h3></td></tr>
                    {% endif %}
                    <tr><td><h3>Ось {{axis.name}}</h3></td></tr>
                    {% for c in criterions %}
                        <tr><td><h4>{{c.name}}</h4></td>
                            <td></td><td></td><td><h4>Ответы из анкеты</h4></td>
                        </tr>
                        {% for member in team_members %}
                            <tr>
                            <td class="vote_td"><b>{{member[1]}} {{member[2]}}</b></td>
                                <td class="vote_td">Да<input type="radio" name="{{c.id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{c.id}},1)"></td>
                                <td class="vote_td">Нет<input type="radio" name="{{c.id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{c.id}},0)"></td>
                                <td class="vote_td">{{answers[c.id][loop.index0]}}</td>
                            </tr>
                        {% endfor %}

                    <tr><td><br><br></td></tr>
                {% endfor %}
                </table>
                </div>
            {% endif %}
            {% if axis.id == 1 %}
                <table class="vote_table2">
                    {% if team_title %}
                        <tr><td colspan="4"><h3>Команда «{{team_title}}»</h3></td></tr>
                    {% endif %}
                    <tr><td colspan="4"><h3>Ось {{axis.name}}</h3></td></tr>

                        <tr><td><h4>{{criterions[0].name}}</h4></td>
                            <td></td><td></td>
                            <td><h4>Ответы из анкеты</h4></td>
                        </tr>
                        {% for member in team_members %}
                            <tr>
                            <td class="vote_td"><b>{{member[1]}} {{member[2]}}</b></td>
                                <td class="vote_td">Да<input type="radio" name="{{criterions[0].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[0].id}},1)"></td>
                                <td class="vote_td">Нет<input type="radio" name="{{criterions[0].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[0].id}},0)"></td>
                                <td class="vote_td">{{answers[loop.index0]}}</td>
                            </tr>
                        {% endfor %}
                </table>
        <br><br>
        <p>В процессе акетирования участников команды был проведен опрос для понимания энергии курсантов и ясности их позиции. Курсанты отвечали на определенные вопросы, выбирая кандидата из списка участников своей команды.
            Слева представлены ответы участников команды в виде графа, где направление стрелки указывает, кто кого выбрал в определенном вопросе. Сам вопрос написан под графом, переключение между вопросами - по нажатию кнопок на слайдере</p>
                <div class="vote_block2">
                    <table class="vote_table">
                            <tr><td><h4>{{criterions[1].name}}</h4></td></tr>
                            {% for member in team_members %}
                                <tr>
                                <td><b>{{member[1]}} {{member[2]}}</b></td>
                                    <td>Да<input type="radio" name="{{criterions[1].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[1].id}},1)"></td>
                                    <td>Нет<input type="radio" name="{{criterions[1].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[1].id}},0)"></td>
                                    </tr>
                    {% endfor %}
                        <tr><td><br></td></tr>
                        <tr><td><h4>{{criterions[2].name}}</h4></td></tr>
                            {% for member in team_members %}
                                <tr>
                                <td><b>{{member[1]}} {{member[2]}}</b></td>
                                    <td>Да<input type="radio" name="{{criterions[2].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[2].id}},1)"></td>
                                    <td>Нет<input type="radio" name="{{criterions[2].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[2].id}},0)"></td>
                                    </tr>
                        {% endfor %}
                    </table>
                    <div class='slide' >
                    {% for img in images %}
                        <input type="radio" name="slider2" id="slider2_{{loop.index0}}" checked="checked">
                        <label for="slider2_{{loop.index0}}"></label>
                        <div><img src="{{img['src']}}" onError="this.onerror=null;this.src='{{url_for('static', filename='images/no_graph.png')}}';"> <p>{{img['text']}}</p></div>
                    {% endfor %}
                    </div>

                </div>
            {% endif %}
            {% if axis.id == 2 %}
                <div class="vote_block">
                    <table class="vote_table">
                        {% if team_title %}
                            <tr><td><h3>Команда «{{team_title}}»</h3></td></tr>
                        {% endif %}
                        <tr><td><h3>Ось {{axis.name}}</h3></td></tr>
                        {% for c in criterions %}
                            <tr><td><h4>{{c.name}}</h4></td></tr>
                            {% for member in team_members %}
                                <!div class="horiz"-->
                                <tr>
                                <td><b>{{member[1]}} {{member[2]}}</b></td>
                                    <td>Да<input type="radio" name="{{c.id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{c.id}},1)"></td>
                                    <td>Нет<input type="radio" name="{{c.id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{c.id}},0)"></td>
                                <!--/div-->
                                    </tr>
                            {% endfor %}

                        <tr><td><br><br></td></tr>
                    {% endfor %}
                    </table>
                    <iframe class="vote_frame" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQb0i27aThefVsv_ekFL8FPL0Przidjooflwifi_HDhLFILNvmyOoB3Pu-qp6_-e_bptaZPe9fVVc5J/pubhtml"></iframe>
                </div>
                    {% endif %}
        <button class="nav__link" ng-click="finish_vote({{team_id}},{{axis.id}});">Закончить оценку</button>
    </div>

</div>


{% endblock %}