{% extends "base.html" %}

{% block scripts %}
<!--script src="{{url_for('static', filename='js/angular_min.js')}}"></script-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="{{url_for('static', filename='js/vote.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container" ng-app="app" ng-controller="ctrl" ng-init="start_voting({{team_id}});" style="margin-left:10%;">
    <br>
    <a class="nav__link border" href="https://docs.google.com/document/d/1d7S4sbN-wfbttvzAalUktarkRDbSRJX23PgL8FUDz3s/edit" target="_blank">Расшифровка критериев оценки</a>
    <br><br>
    <div>
            {% if axis.id == 3 %}
                <div class="vote_block" style="width:80%;">
                    <table class="vote_table2" cellpadding="0">
                    <tr><td><h3>Ось {{axis.name}}</h3></td></tr>
                        <tr><td><br></td></tr>
                    {% for c in criterions %}
                        <tr class="bottom_border"><td colspan="3"><h4 >{{c.name}} ({{questions[loop.index0].text}})</h4></td>

                            <td><h4 class="bottom_border left_border">Ответы из анкеты</h4></td>
                        </tr>
                        {% for member in team_members %}
                            <tr>
                            <td class="vote_td"><b>{{member[1]}} {{member[2]}}</b></td>
                                <td class="vote_td">Да<input type="radio" name="{{c.id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{c.id}},1)"></td>
                                <td class="vote_td">Нет<input type="radio" name="{{c.id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{c.id}},0)"></td>
                                <td class="vote_td left_border">{{answers[c.id][loop.index0]}}</td>
                            </tr>
                        {% endfor %}

                    <tr><td><br><br></td></tr>
                {% endfor %}
                </table>
                </div>
            {% endif %}
            {% if axis.id == 1 %}
                <table class="vote_table2" cellspacing="0" cellpadding="0">
                    {% if team_title %}
                        <tr><td colspan="4"><h3>Команда «{{team_title}}»</h3></td></tr>
                    {% endif %}
                    <tr><td colspan="4"><h3>Ось {{axis.name}}</h3></td></tr>
                        <tr><td><br></td></tr>
                        <tr ><td colspan="3"><h4 class="bottom_border">{{criterions[0].name}}</h4></td>
                            <td><h4 class="bottom_border">Ответы из анкеты</h4></td>
                        </tr>
                        {% for member in team_members %}
                            <tr>
                            <td class="vote_td"><b>{{member[1]}} {{member[2]}}</b></td>
                                <td class="vote_td">Да<input type="radio" name="{{criterions[0].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[0].id}},1)"></td>
                                <td class="vote_td">Нет<input type="radio" name="{{criterions[0].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[0].id}},0)"></td>
                                <td class="vote_td left_border" >{{answers[loop.index0]}}</td>
                            </tr>
                        {% endfor %}
                </table>
        <br><br>
        <p>Курсанты отвечали на поставленные вопросы, выбирая кандидата из списка участников своей команды.
            Слева представлены ответы участников команды в виде графа, где направление стрелки указывает, кто кого выбрал в определенном вопросе.
            Сам вопрос написан под графом, переключение между вопросами - по нажатию кнопок на слайдере.</p>
                <div class="vote_block2">
                    <table class="vote_table">
                            <tr><td colspan="3"><h4 class="bottom_border">{{criterions[1].name}}</h4></td></tr>
                            {% for member in team_members %}
                                <tr>
                                <td><b>{{member[1]}} {{member[2]}}</b></td>
                                    <td>Да<input type="radio" name="{{criterions[1].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[1].id}},1)"></td>
                                    <td>Нет<input type="radio" name="{{criterions[1].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[1].id}},0)"></td>
                                    </tr>
                    {% endfor %}
                        <tr><td><br></td></tr>
                        <tr><td colspan="3"><h4 class="bottom_border">{{criterions[2].name}}</h4></td></tr>
                            {% for member in team_members %}
                                <tr>
                                <td><b>{{member[1]}} {{member[2]}}</b></td>
                                    <td>Да<input type="radio" name="{{criterions[2].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[2].id}},1)"></td>
                                    <td>Нет<input type="radio" name="{{criterions[2].id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{criterions[2].id}},0)"></td>
                                    </tr>
                        {% endfor %}
                    </table>
                    <div class='slide' >
                    {% for img in images %}
                        <input type="radio" name="slider2" id="slider2_{{loop.index0}}" checked="checked">
                        <label for="slider2_{{loop.index0}}"></label>
                        <div><img src="{{img['src']}}" style="width:500px; height:300px;" onError="this.onerror=null;this.src='{{url_for('static', filename='images/no_graph.png')}}';"> <p>{{img['text']}}</p></div>
                    {% endfor %}
                    </div>

                </div>
            {% endif %}
            {% if axis.id == 2 %}
                {% if team_title %}
                    <h3>Команда «{{team_title}}»</h3>
                {% endif %}
                <h3>Ось {{axis.name}}</h3><br>
                <div class="vote_block_business">
                    {% for c in criterions %}
                    <div class="vote_business_block">
                        <table>
                            <tr><td colspan="3"><h4><u>{{c.name}}</u></h4></td></tr>
                            {% for member in team_members %}
                                <tr>
                                    <td><b>{{member[1]}} {{member[2]}}</b></td>
                                    <td>Да<input type="radio" name="{{c.id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{c.id}},1)"></td>
                                    <td>Нет<input type="radio" name="{{c.id}}_{{member[0]}}" ng-click="vote_for({{member[0]}},{{c.id}},0)"></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}
                    <!--iframe class="vote_frame" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSHDRFM75vGrzKFVr1lRwJcqgw4Wir0isx8HEB0n1kCapzluAoB_0Q9Mhir2xOOkyHIqwrzKsvToNFL/pubhtml?widget=true&amp;headers=false"></iframe-->
                </div>
                <hr>
                <h3>Ниже представлены оценки, выставленные команде на еженедельных трекшенах</h3>
                <div class="vote_block_business">
                {% for res in voting_results %}
                    <div class="weekly_vote_block">
                        <h4><u>Дата: {{res['date']}}</u></h4>
                        <ul>
                            {% for mark in res['marks'] %}
                                <li>{{mark['criterion']}}: {{mark['mark']}}</li>
                            {% endfor %}
                        </ul><br>
                        <h4><u>Оценивались:</u></h4>
                        <ul>
                            {% for member in res['teammates'] %}
                                <li>{{member[1]}} {{member[2]}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        <button class="nav__link finish_vote_btn" ng-click="finish_vote({{team_id}},{{axis.id}});">Закончить оценку</button>
    </div>
</div>


{% endblock %}