<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title> KorpusToken </title>
    {% endif %}
</head>
<body>
    <div> KorpusToken: {{ current_user.login }}
        <a href="{{ url_for('home') }}">На главную</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Войти</a>
        <a href="{{ url_for('signup') }}">Регистрация</a>
        {% else %}
        {% if responsibilities.cadet %}
            <a href="{{ url_for('questionnaire_self') }}">Личная анкета</a>
            {% if team %}
                <a href="{{ url_for('questionnaire_team') }}">Командная анкета</a>
                {% endif %}
        {% endif %}
        {% if responsibilities.admin %}
            <a href="{{ url_for('question_adding') }}">Конструктор вопросов</a>
            {% endif %}
            <a href="{{ url_for('logout') }}">Выйти</a>
        {% endif %}
    </div>
    <hr>
    {% block content %} {% endblock %}
</body>
</html>