{% extends "base.html" %} {% block content %}
<form class="service_page_container" method="post">

    <div class="service_page_content">
        <div class="service_page_title">
            Внесите изменения и нажмите “Сохранить”
        </div>
        <div class="service_page_text">
            {{ form.hidden_tag() }}
            <table style="width:100%;">
                <tr>
                    <td style="width:15%;">Название услуги</td>
                    <td style="width:85%;"><input style="width:30%;margin-left:5%;" name="name" value="{{service.name}}"></td>
                </tr>
                <tr>
                    <td style="width:15%;">Единица услуги</td>
                    <td style="width:85%;"><input style="width:30%;margin-left:5%;" name="unit" value="{{service.unit}}"></td>
                </tr>
                <tr>
                    <td style="width:15%;">Цена за единицу</td>
                    <td style="width:85%;"><input style="width:30%;margin-left:5%;" name="price" value="{{service.price}}"></td>
                </tr>
                <tr>
                    <td style="width:15%;">Адрес для оплаты</td>
                    <td style="width:85%;"><input style="width:80%;margin-left:5%;" name="address" value="{{service.address}}"></td>
                </tr>
                <tr>
                    <td style="width:15%;">Описание услуги</td>
                    <td style="width:85%;"><textarea name="description" style="width:80%; margin-left:5%;min-height:10vh;">{{service.description}}</textarea></td>
                </tr>
            </table>
        </div>
        <br><br>
        <div class="service_page_buttons_container">
            <button class="service_page_button" onclick="document.location.href='/services';" type="button">Отменить</button>
            <button class="service_page_button" type="submit">Сохранить</button>
        </div>
    </div>
</form>
<div style="opacity: 0" id="house_rent_price">{{ house_rent_price }}</div>
<div style="opacity: 0" id="user_balance">{{ user_balance }}</div>
<script>
  const confirmationButton = document.querySelector('#house_rent_confirmation');
  const confirmationLink = document.querySelector('#rent_confirmation_link');
  const houseRentPrice =
    document.querySelector('#house_rent_price')?.textContent;
  const userBalance = document.querySelector('#user_balance')?.textContent;
  const balanceSpan = document.querySelector('#user_balance_span');

  if (+userBalance >= +houseRentPrice) {
    confirmationButton.classList.remove('service_page_button_disabled');
    balanceSpan.classList.remove('service_page_red');
    confirmationLink.setAttribute('href', '/house_rent_confirmation');
  }

</script>
{% endblock %}
