{% extends "base.html" %}
{% block content %}
<div class="small_card_container">
    <div class="small_card_flex" style="width: 60%; margin-left:20%;">
            <div class="info_card" style="min-width:33%;">
                <div class="info_card_text_block">
                    <p class="info_card_text"><b>Баланс токенов вклада:</b></p>
                    <p class="info_card_text green">123123</p>
                </div>
                <div class="info_card_text_block">
                    <p class="info_card_text"><b>Курс токена вклада:</b></p>
                    <p class="info_card_text green">1 КТ = 0.75 eth</p>
                </div>
            </div>

        <div class="input_eth_container">
            <div class="dark_block">
                <p class="info_card_text"><b>Сколько токенов обменять?</b></p>
                <input class="eth_input">
            </div>
            <div class="dark_block">
                <p class="info_card_text"><b>Вы получите:</b></p>
                <p class="info_card_text blue">100500 eth</p>
            </div>
            <button class="eth_button">Подтвердить</button>
        </div>
    </div>
</div>



{% endblock %}