{% extends "base.html" %} {% block content %}
<div class="nav_href" style="margin-top:2vh;margin-left:10%;">
        <a href="/">главная</a> - <a href="/blockchain">блокчейн</a> - <a href="/emission">эмиссия токенов</a> - <a class="cur_href" href="">изменить курс токенов</a>
    </div>
<div class="small_card_container" style="min-height:80vh;">
    <div class="small_card_flex" style="flex-direction: column">
        <p class="eth_text">Текущий зафиксированный курс токенов вклада и инвестиции</p>
        <p class="eth_text purple">1 KTD/KTI = {{ exchange_rate }}р</p>
        <form method="post" action="/token_exchange_rate_by_default">
            <p><input type="submit" class="eth_button" value="Изменить курс токена на курс по умолчанию"
                      style="width: 40%; margin-left: 30%; margin-top: 1rem; color:white; background:black;"
                      onclick="return confirm('Вы изменяете курс токена вклада и токена инвестиций на курс, рассчитываемый по умолчанию. От курса токена зависит размер эмиссии и то, сколько токенов получит каждый участник после оценки. Вы уверены что хотите это сделать?')"></p>
        </form>
        <form action="" method="post" novalidate class="form">
            {% with messages = get_flashed_messages(category_filter=["restore"]) %} {%
            if messages %}
            <p><i>{{ messages[0] }}</i></p>
            {% endif %} {% endwith %} {{ form.csrf_token() }} {{ form.hidden_tag() }}
            <p style="width: 100%;">
                <span class="eth_text" style="width:100%;text-align:center;display:inline-block;">Для изменения курса напишите актуальную стоимость 1 токена</span>
                <br/>
            <div class="dark_block" style="width: 60%; margin-left: 20%">
                {{ form.price(size=256, class_="eth_input", style="margin-top: 2vh" ) }}
            </div>
            </p>
            <div style="width: 100%; display: flex; justify-content: center;">
                {% for error in form.price.errors %}
                <span style="color: red"> {{error}} </span>
                {% endfor %}
            </div>

            <p><input class="eth_button" id="submit" name="submit"
                      style="width: 50%; margin-left: 25%; margin-top: 2rem" type="submit" value="Подтвердить"
                      onclick="return confirm('Вы изменяете курс токена вклада и токена инвестиций. От курса токена зависит размер эмиссии и то, сколько токенов получит каждый участник после оценки. Вы уверены что хотите это сделать?')">
            </p>
        </form>
    </div>
</div>

{% endblock %}
