{% extends "base.html" %}
{% block content %}
<div class="nav_href" style="margin-left: 10%; margin-top:50px; margin-bottom: -70px;">
    <a href="/">главная</a> - <a class="cur_href" href="">сообщество</a>
</div>
<div class="small_card_container">
    <div class="small_card_flex">
        {% if current_user.is_admin %}
        <a href="/manage_statuses" class="small_card" onmouseover="enlarge_block(10);" id="block10" onmouseleave="reduce_block(10);">
            <img class="small_card_img" src="/static/images/assessment_manage.png">
            <p class="small_card_text">Управление ролями</p>
        </a>
        {% endif %}
        <a href="/users_list" class="small_card" onmouseover="enlarge_block(11);" id="block11" onmouseleave="reduce_block(11);">
            <img class="small_card_img" src="/static/images/all_members.png">
            <p class="small_card_text">Все участники</p>
        </a>
        <a href="/teams_crew" class="small_card" onmouseover="enlarge_block(12);" id="block12" onmouseleave="reduce_block(12);">
            <img class="small_card_img" src="/static/images/teams.png">
            <p class="small_card_text">Команды</p>
        </a>
        {% if team_id %}
        <a href="/edit_team?tid={{team_id}}" class="small_card" onmouseover="enlarge_block(13);" id="block13" onmouseleave="reduce_block(13);">
            <img class="small_card_img" src="/static/images/my_team.png">
            <p class="small_card_text">Моя команда</p>
        </a>
        {% endif %}
        <a href="/services" class="small_card" onmouseover="enlarge_block(14);" id="block14" onmouseleave="reduce_block(14);">
            <img class="small_card_img" src="/static/images/icons8-services.png">
            <p class="small_card_text">Услуги</p>
        </a>
    </div>

    </div>

{% endblock %}