{% extends "base.html" %} {% block content %}
<div class="nav_href" style="margin-top:2vh;margin-left:10%; margin-bottom:-5vh;">
        <a href="/">главная</a> - <a href="/blockchain">блокчейн</a> - <a class="cur_href" href="">эмиссия токенов</a>
    </div>
<div class="small_card_container">
  <div
    class="small_card_flex"
    style="width: 90%; margin-left: 2%; justify-content: center;"
  >
    <div
      class="info_card"
      style="
        background: white;
        color: black;
        box-shadow: none;
        border: 1px solid black;
        margin-right: 5%;
      "
    >
      <div class="info_card_text_block">
        <p class="info_card_text green">
          <b
            >Курс токена вклада: 1 KT = {{ exchange_rate * ktd_price }}р = {{
            ktd_price }} POL</b
          >
        </p>
      </div>
      <div class="info_card_text_block">
        <p class="info_card_text red">
          <b
            >Курс токена инвестиций: 1 KT = {{ exchange_rate * kti_price }}р =
            {{ kti_price }} POL</b
          >
        </p>
      </div>
      <div class="small_card_flex">
        <a
          href="/change_eth_exchange_rate"
          class="eth_button"
          style="
            margin-top: 2rem;
            border: 1px solid black;
            padding: 0.6rem;
            text-align: center;
          "
          >Изменить курс POL</a
        >
        <a
          href="/change_token_exchange_rate"
          class="eth_button"
          style="
            margin-left: 25%;
            margin-top: 2rem;
            border: 1px solid black;
            padding: 0.6rem;
            text-align: center;
          "
          >Изменить курс токенов</a
        >
      </div>
      <div class="small_card_flex">

        <a
          href="/fix_profit"
          class="eth_button"
          style="
            margin-top: 2rem;
            border: 1px solid black;
            padding: 0.6rem;
            text-align: center;
          "
          >Зафиксировать прибыль</a
        >
      </div>
    </div>
    <div
      class="info_card"
      style="
        background: white;
        color: black;
        box-shadow: none;
        border: 1px solid black;
      "
    >
      <div class="info_card_text_block">
        <p class="info_card_text">
          Бюджет на текущий месяц = <b>{{ current_budget }}р</b>
        </p>
      </div>
      <div
        class="info_card_text_block"
        style="display: flex; justify-content: center; width: 100%"
      >
        <a
          href="/budget"
          class="eth_button"
          style="
            width: 60%;
            border: 1px solid black;
            padding: 0.5rem;
            text-align: center;
          "
          >Смотреть бюджет</a
        >
      </div>
    </div>
  </div>
  {% if voting_id %}
  <div
    class="small_card_flex"
    style="width: 100%; justify-content: center; margin-top: 1rem"
  >
    <div
      class="info_card"
      style="
        background: white;
        color: black;
        box-shadow: none;
        border: 1px solid black;margin-right:5%;
      "
    >
      <div class="info_card_text_block">
        <p class="info_card_text">
          В оценке участвовало = <b>{{ amount_of_assesment_members }}ч</b>
        </p>
      </div>
      <div class="info_card_text_block">
        <p class="info_card_text">
          Баллов всего получено = <b>{{ total_score }}</b>
        </p>
      </div>
      <div class="info_card_text_block">
        <p class="info_card_text">
          <b>1 балл оценки = </b>
          {% if total_score == 0 %}
          <b class="green">0 токенов вклада</b>
          {% else %}
          <b class="green">{{ ktd_emission / total_score }} токенов вклада</b>
          {% endif %}
        </p>
      </div>

      <div
        class="info_card_text_block"
        style="display: flex; justify-content: center; width: 100%"
      >
        <a
          href="/assessment_page"
          class="eth_button"
          style="
            width: 60%;
            border: 1px solid black;
            padding: 0.5rem;
            text-align: center;
          "
          >Смотреть результаты оценки</a
        >
      </div>
    </div>
    <div
      class="info_card"
      style="
        background: white;
        color: black;
        box-shadow: none;
        border: 1px solid black;
        min-width: 25%;
      "
    >
      <div class="info_card_text_block">
        <p class="info_card_text">
          <b>Эмиссия составит:</b>
        </p>
      </div>
      <div class="info_card_text_block">
        <p class="info_card_text red">
          <b>{{ kti_emission }} токенов инвестиций</b>
        </p>
      </div>
      <div class="info_card_text_block">
        <p class="info_card_text green">
          <b>{{ ktd_emission }} токенов вклада</b>
        </p>
      </div>
      <div class="small_card_flex">
        <a
          href="/confirm_emission"
          class="eth_button"
          style="
            width: 50%;
            padding: 0.5rem;
            text-align: center;
            background-color: black;
            color: white;
          "
          >Произвести эмиссию</a
        >
      </div>
    </div>

  </div>
 {% endif %}
   {% if distribution_id %}
    <div
      class="small_card_flex"
      style="width: 100%; justify-content: center; margin-top: 1rem"
    >
      <a
        href="/confirm_tokens_distribution"
        class="eth_button"
        style="
          width: 20%;
          padding: 0.5rem;
          text-align: center;
          background-color: black;
          color: white;
        "
        >Распределить токены вклада</a
      >
    </div>
  {% endif %}
  {% endblock %}
</div>
