<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}" type="image/jpg">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Monofett|Monoton|Montserrat|Share+Tech+Mono&display=swap&subset=cyrillic-ext"
          rel="stylesheet">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title> KorpusToken </title>
    {% endif %}
</head>
<body>
<img class="body_back" src="{{url_for('static', filename='images/login_body_back.png')}}">
<img class="reg_logo" src="{{url_for('static', filename='images/logo_korpus_reg.png')}}">
<div class="profile_body">
    <form class="personal_area_div account_form" style="margin-top:12vh;" method="post" action="/forgot_password">
        <div class="personal_area_form">
            <div class="title_flex">
                <h4 class="personal_area_h">Восстановление пароля</h4>
            </div>
            <p class="personal_area_p">Для восстановления пароля, напишите Telegram логин в поле ниже.</p>
            <table class="account_table">
                <tr class="account_row">
                    <td class="account_table_td"><label class="personal_area_p">Telegram логин</label></td>
                    <td class="account_table_td"><input required class="account_input account_table_input" name="login" placeholder="UserName"></td>
                </tr>
            </table>
            {% if error %}
            <p style="font-size:2.5vh; color: red; text-align:center; width: 100%;">Данный логин не найден в системе</p>
            {% endif %}
        </div>
        <div class="button_row">
            <button class="account_button" type="submit">Сброс</button>
        </div>
    </form>
</div>
</body>
</html>
