{% extends "base.html" %}
{% block content %}
<div class="cards_flex_container">
        <a href="/assessment_page" class="card_container" onmouseover="enlarge_block(11);" id="block11" onmouseleave="reduce_block(11);">
            <img class="menu_image" src="/static/images/assessment.png">
            <p class="card_title">Оценка вклада</p>
        </a>
        <a href="/blockchain" class="card_container" onmouseover="enlarge_block(12);" id="block12" onmouseleave="reduce_block(12);">
            <img class="menu_image" src="/static/images/blockchain.png">
            <p class="card_title">Блокчейн</p>
        </a>
        <a href="/profile" class="card_container" onmouseover="enlarge_block(13);" id="block13" onmouseleave="reduce_block(13);">
            <img class="menu_image" src="/static/images/profile.png">
            <p class="card_title">Профиль</p>
        </a>
        <a href="/community" class="card_container" onmouseover="enlarge_block(14);" id="block14" onmouseleave="reduce_block(14);">
            <img class="menu_image" src="/static/images/community.png">
            <p class="card_title">Сообщество</p>
        </a>
    </div>
<!--div class="intro">
	<div class="container">
	    <h2 class="intro_title">Добро пожаловать в KorpusToken, {{ user.name }}!</h2>
	</div>
</div>

	<div class="home_text" align="center">
		<h3>{{message}}</h3><br>
		{% if flag %}
		 <a class="nav__link border" href="{{ url_for('choose_top_cadets') }}">Выбрать курсантов для оценки по оси отношений</a>
		{% endif %}
	</div>
	{% if info %}
	<div class="res_container">
		<table class="result_table" cellspacing="0">
			<thead>
				<tr><td></td>
				{% for c in criterions %}
					<td>{{c}}</td>
				{% endfor %}
					<td>Сумма</td>
				</tr>
			</thead>
			<tbody>
				{% for row in info %}
					<tr>
						{% for cell in row %}
							<td>{{cell}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
-->
{% endblock %}