{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="login">
        <h2> Вход </h2>
            <form action="" method="post" novalidate class="form">
                {% with messages = get_flashed_messages(category_filter=["restore"]) %}
                  {% if messages %}
                    <p><i>{{ messages[0] }}</i></p>
                  {% endif %}
                {% endwith %}
                {{ form.csrf_token() }}
                {{ form.hidden_tag() }}
                <p>
                    <span class="main_text">{{ form.login.label }}</span> <br>
                    {{ form.login(size=32) }}
                    {% for error in form.login.errors %}
                    <span style="color: red;"> {{error}} </span>
                    {% endfor %}
                </p>
                <p>
                    <span class="main_text">{{ form.password.label }}</span> <br>
                    {{ form.password(size=32) }}
                    {% for error in form.password.errors %}
                    <span style="color: red;"> {{error}} </span>
                    {% endfor %}
                </p>
                {% if err %}
                <p> Неправильный логин или пароль </p>
                <p><a class="nav__link" href="{{ url_for('restore_password') }}">Забыли пароль?</a></p>
                {% endif %}
                <p> {{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p> {{ form.submit(class_="submit") }} </p>
            </form>
            <p>Не зарегистрированы? <a class="nav__link" href="{{ url_for('signup') }}">Зарегистрироваться!</a></p>
    </div>
</div>
{% endblock %}
