{% extends "base.html" %} {% block content %}
<div class="nav_href" style="width:10%; margin-top:2vh;margin-left:10%; width:100%; margin-bottom: -5vh;">
        <a href="/">главная</a> - <a href="/blockchain">блокчейн</a> - <a class="cur_href" href="">токены инвестиций</a>
    </div>
<form action="" method="post" novalidate class="form small_card_container">
  {% with messages = get_flashed_messages(category_filter=["error"]) %} {% if messages %}
  <p style="text-align: center; width: 100%"><i>{{ messages[0] }}</i></p>
  {% endif %} {% endwith %}
  {% with messages = get_flashed_messages(category_filter=["success"]) %} {% if messages %}
  <p style="text-align: center; width: 100%"><i>Ссылка на polygonscan: <a href="https://polygonscan.com/tx/{{messages[0]}}" target="_blank">{{ messages[0] }}</a></i></p>
  {% endif %} {% endwith %}
  {{ form.csrf_token() }} {{ form.hidden_tag() }}
  <div class="small_card_flex" style="width: 70%; margin-left: 15%">
    <div style="min-width: 33%">
      <div class="info_card">
        <div class="info_card_text_block">
          <p class="info_card_text"><b>Баланс эфириума в системе</b></p>
          <p class="info_card_text blue">{{ contract_balance }}</p>
        </div>
      </div>
      <br /><br />
      <div class="info_card">
        <div class="info_card_text_block">
          <p class="info_card_text"><b>Баланс токенов инвестиций</b></p>
          <p class="info_card_text red">{{ kti_total }}</p>
        </div>
      </div>
    </div>

    <div class="input_eth_container" style="justify-content: space-between">
      <div class="dark_block">
        <p class="info_card_text">
          <b>Кто получит доступ?<br />(введите адрес кошелька получателя)</b>
        </p>
        {{ form.address(size=256, class_="eth_input" ) }}
      </div>
      <div class="dark_block">
        <p class="info_card_text">
          <b>Лимит</b>
        </p>
        {{ form.num(size=256, class_="eth_input" ) }}
      </div>
    </div>
  </div>
  <p>{{ form.submit(class_="submit") }}</p>
  <p><button class="eth_button" type="button" onclick="history.back();" style="margin-left:25%; width:50%;">Назад</button> </p>
</form>

{% endblock %}
