{% extends "base.html" %} {% block content %}
<form action="" method="post" novalidate class="form small_card_container">
  {% with messages = get_flashed_messages(category_filter=["restore"]) %} {% if
  messages %}
  <p><i>{{ messages[0] }}</i></p>
  {% endif %} {% endwith %} {{ form.csrf_token() }} {{ form.hidden_tag() }}
  <div class="small_card_flex" style="width: 70%; margin-left: 15%">
    <div style="min-width: 33%">
      <div class="info_card">
        <div class="info_card_text_block">
          <p class="info_card_text"><b>Баланс эфириума в системе:</b></p>
          <p class="info_card_text blue">{{ contract_balance }}</p>
        </div>
      </div>
      <br /><br />
      <div class="info_card">
        <div class="info_card_text_block">
          <p class="info_card_text"><b>Баланс токенов:</b></p>
          <p class="info_card_text green">{{ ktd_total }}</p>
        </div>
      </div>
    </div>

    <div class="input_eth_container" style="justify-content: space-between">
      <div class="dark_block">
        <p class="info_card_text">
          <b>Кто получит доступ?<br />(введите адрес кошелька получателя)</b>
        </p>
        {{ form.address(size=256, class_="eth_input" ) }}
      </div>
    </div>
  </div>
  <p>{{ form.submit(class_="submit") }}</p>
</form>

{% endblock %}
