{% extends "base.html" %}

{% block scripts %}
<!--script src="{{url_for('static', filename='js/angular_min.js')}}"></script-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="{{url_for('static', filename='js/statuses.js')}}"></script>
{% endblock %}

{% block content %}

<div class="container" ng-app="app" ng-controller="ctrl" style="margin-left: 10%;" ng-cloak>
    <button onclick="history.back();" class="nav__link">Назад</button><br><br>
    <h2>Управление ролями пользователей</h2>
    <br>
    <select ng-model="selected" ng-change="choose_user();" >
        <option value="0"></option>
        {% for user in users %}
            <option value="{{user[0]}}">{{user[1]}}</option>
        {% endfor %}
    </select>
    {% raw %}
    <br><br>
    <p ng-show="show_adding">Текущие роли</p>
    <div class="status_flex">
        <div class="status" ng-repeat="status in statuses">{{status[0]}}<a class="cross" href="#" ng-click="delete_status(this);"> &#10006; </a></div>
    </div>
    <div ng-show="show_adding">
            <p>Добавить новую роль</p>
            <select ng-model="status_selected" ng-change="add_status();">
                <option ng-repeat="status in new_statuses" value="{{status[1]}}">{{status[0]}}</option>
            </select>
    </div>
    <div ng-show="show_teams">
            <p>Выберите команду</p>
            <select ng-model="team_selected" ng-change="add_teamlead();">
                <option ng-repeat="team in teams" value="{{team[1]}}">{{team[0]}}</option>
            </select>
        {% endraw %}
    </div>
</div>

{% endblock %}