<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}" type="image/jpg">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Monofett|Monoton|Montserrat|Share+Tech+Mono&display=swap&subset=cyrillic-ext"
          rel="stylesheet">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title> KorpusToken </title>
    {% endif %}
</head>
<body>
<img class="body_back" src="{{url_for('static', filename='images/login_body_back.png')}}">
<img class="reg_logo" src="{{url_for('static', filename='images/logo_korpus_reg.png')}}">
<div class="profile_body">
    <form class="personal_area_div account_form" style="margin-top:12vh;" method="post" action="/reset_password">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <div class="personal_area_form">
            <div class="title_flex">
                <h4 class="personal_area_h">Новый пароль</h4>
            </div>
            <table class="account_table">
                <tr class="account_row">
                    <td class="account_table_label account_table_td"><label class="personal_area_p">Пароль</label></td>
                    <td class="account_table_td">
                        <label for="password1" style="position: relative; display: flex; align-items: center">
                            <input type="password" required class="account_input width-full" name="password1" id="password1">
                            <img
                                id="toggle-password"
                                src="{{url_for('static', filename='icons/eye.svg')}}"
                                alt="Show or hide password"
                                style="position: absolute; right: 0.5rem; cursor: pointer;"
                            >
                        </label>
                    </td>
                </tr>
                <tr class="account_row">
                    <td class="account_table_label account_table_td"><label class="personal_area_p">Повторить</label></td>
                    <td class="account_table_td">
                        <label for="password2" style="position: relative; display: flex; align-items: center">
                            <input type="password" required class="account_input width-full" name="password2" id="password2">
                            <img
                                id="toggle-password-confirmation"
                                src="{{url_for('static', filename='icons/eye.svg')}}"
                                alt="Show or hide password confirmation"
                                style="position: absolute; right: 0.5rem; cursor: pointer;"
                            >
                        </label>
                    </td>
                </tr>
            </table>
            {% if err %}
                <p style="font-size:2.5vh; color: red; text-align:center; width: 100%; padding: 0 0 2rem 0;">Пароли не совпадают</p>
            {% endif %}
        </div>
        <div class="button_row">
            <button class="account_button" type="submit">Подтвердить</button>
        </div>
    </form>
</div>
<script>
    'use strict';

     const togglePasswordButton = document.querySelector('#toggle-password');
     const passwordInput = document.querySelector('#password1');

     togglePasswordButton.addEventListener('click', () => {
        passwordInput.setAttribute('type', passwordInput.getAttribute('type') === 'password' ? 'text' : 'password');
     });

     const togglePasswordConfirmationButton = document.querySelector('#toggle-password-confirmation');
     const passwordConfirmationInput = document.querySelector('#password2');

     togglePasswordConfirmationButton.addEventListener('click', () => {
        passwordConfirmationInput.setAttribute('type', passwordConfirmationInput.getAttribute('type') === 'password' ? 'text' : 'password');
     });
</script>
</body>
</html>
