{% extends "base.html" %}
{% block content %}
<div class="nav_href" style="margin-left:10%;margin-top: 50px; margin-bottom: -60px;">
        <a href="/">главная</a> - <a href="/assessment_page">оценка вклада</a> - <a class="cur_href" href="">участвовать в оценке</a>
    </div>
<div class="small_card_container">
    <div style="border:2px solid black; width: 60%; margin-left:20%; padding:5px; margin-bottom: 100px;">
            <p>Для участия в оценке вклада и распределении токенов необходимо выполнить 2 условия:
<br>1 - Заполнить анкету, ответы на вопросы которой помогут собранным коллегия оценить ваш вклад в развитие себя, команды и всего сообщества
<br>2 - Выбрать участников сообщества, которые по вашему мнению были наиболее активными в прошедшем месяце. На основе вашего выбора и выбора других участников сообщества система сформирует итоговую коллегию, которая будет оценивать всех участников оценки по оси отношений</p>
    </div>

    <div class="small_card_flex">
        <a href="/assessment" class="small_card" onmouseover="enlarge_block(12);" id="block12" onmouseleave="reduce_block(12);">
            <img class="small_card_img" src="/static/images/anketa.png">
            <p class="small_card_text">Заполнить анкету</p>
        </a>
        <a href="/choose_top_cadets" class="small_card" onmouseover="enlarge_block(13);" id="block13" onmouseleave="reduce_block(13);">
            <img class="small_card_img" src="/static/images/my_team.png">
            <p class="small_card_text">Выбрать коллегию </p>
        </a>
    </div>

    </div>

{% endblock %}