{% extends "base.html" %}

{% block scripts %}
<script src="{{url_for('static', filename='js/jquery.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/signup.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.maskedinput.min.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="nav_href" style="margin-left: 10%;">
        <a href="/">главная</a> - <a class="cur_href" href="">профиль</a>
    </div>
    <div class="signup">
        <h2> Профиль </h2>
        <h3>Ваш текущий уровень - {{current_user.level}}</h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token() }}
            <p>
                <span class="main_text">{{ form.name.label }}</span> <br>
                <input id="name" name="name" size="32" value="{{current_user.name}}">
                {% for error in form.name.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.surname.label }} </span><br>
                <input id="surname" name="surname" size="32" value="{{current_user.surname}}">
                {% for error in form.surname.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.tg_nickname.label }} </span><br>
                <input id="tg_nickname" name="tg_nickname" size="32" value="{{current_user.tg_nickname}}">
                {% for error in form.tg_nickname.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <!--p>
                <span class="main_text">{{ form.courses.label }} </span><br>
                <input id="cources" name="cources" size="64" value="{{current_user.cources}}">
                {% for error in form.courses.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.participate.label }}</span>
                {{ form.participate(class_="submit", id_='participate') }} <br>
            </p>
            <p>
                <span class="main_text">{{ form.birthday.label }} </span><br>
                <input id="date" name="birthday" size="64" value="{{current_user.birthday}}">
                {% for error in form.birthday.errors %}
                <span style="color: red;"> {{error}} </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.sex.label }}</span> <br>
                {{ form.sex(class_="submit_sex") }}
            </p>
                <span class="main_text">{{ form.education.label }} </span><br>
                <input id="education" name="education" size="64" value="{{current_user.education}}">
            <p>
                <span class="main_text">{{ form.work_exp.label }}</span> <br>
                {{ form.work_exp(class_="text_field", rows='5',cols='75') }}
            </p>
            <p>
                <span class="main_text">{{ form.vk_url.label }}</span> <br>
                <input id="vk_url" name="vk_url" size="64" value="{{current_user.vk_url}}">
            </p>
            <p>
                <span class="main_text">{{ form.fb_url.label }} </span><br>
                <input id="fb_url" name="fb_url" size="64" value="{{current_user.fb_url}}">
            </p>
            <p>
                <span class="main_text">{{ form.inst_url.label }}</span> <br>
                <input id="inst_url" name="inst_url" size="64" value="{{current_user.inst_url}}">
            </p-->
            <p>
                <input name="submit" type="submit" class="_submit"  value="Сохранить">
            </p>
        </form>
    </div>
</div>
<script>
$( document ).ready(function() {
    $("#date").mask("9999-99-99");
});

    $('#participate').click(function(){
        $('#teams').slideToggle(300);
    });
</script>
{% endblock %}
