{% extends "base.html" %}

{% block content %}

<div class="container">
    <button onclick="history.back();" class="nav__link" style="margin-left:3%;">Назад</button>
    <div class="progress" style="{% if not fixed_id %} width:50%; {% endif %} margin: 50px;">

        {% if access.questionnaire_opened %}
        <h2>Прогресс прохождения анкетирования</h2>

        <p style="padding-top: 20px;">
            <span> Всего анкетируемых: <span class="main_text">{{ questionnaire.max_particip }}</span></span><br>
            <span> Пройдено личных анкет: <span class="main_text"> {{ questionnaire.already_self }} из {{ questionnaire.max_particip }}</span></span><br>
            <span> Пройдено командных анкет: <span class="main_text">{{ questionnaire.already_team }} из {{ questionnaire.all_team_particip }}</span></span><br>
            <span> Выбрали коллегию для оценки по оси дела: <span class="main_text">{{ counter }}</span></span><br>

        </p>
        <a class='nav__link border' href="{{ url_for('finish_questionnaire') }}">Завершить анкетирование</a>

        <br><br>
        <!--a class="nav__link border" href="{{url_for('graphs_teams')}}">Создать графы</a-->
        {% else %}
            {% if ready %}
                {% if access.assessment_opened %}
                    <h2>В настоящее время проходит оценка вклада</h2>
                    <br><br>
                    {% if current_user.is_chieftain %}
                        <div class="">
                            <!--a class='nav__link border' href="{{ url_for('sum_up_assessment') }}">Предварительные результаты оценки</a-->
                            <a class='nav__link border' href="{{ url_for('finish_assessment') }}">Завершить оценку</a>
                        </div>
                    {% endif %}
                    <!--a class="nav__link border" href="{{url_for('graphs_teams')}}">Создать графы</a-->
                {% else %}
                    {% if current_user.is_chieftain %}
                    <h2>Анкетирование завершено, можно приступать к оценке</h2>
                    <div class="vote_progress">

                        <form method="post">
                            {{ form.hidden_tag() }}
                            {{form.month1.label}}<br>
                            <label>С</label>
                            <select name="month1">
                                <option selected disabled></option>
                                {% for month in monthes %}
                                    <option value="{{month}}">{{month}}</option>
                                {% endfor %}
                            </select>
                            <label>По</label>
                            <select name="month2">
                                <option selected disabled></option>
                                {% for month in monthes %}
                                    <option value="{{month}}">{{month}}</option>
                                {% endfor %}
                            </select><br><br>

                            {{form.submit()}}
                        </form>
                        {% if msg %}
                        <p>{{msg}}</p>
                        {% endif %}
                        <!--a class='nav__link border' href="{{ url_for('start_assessment') }}">Начать оценку</a-->
                    </div>
                    {% else %}
                        <h2>Анкетирование завершено, ожидаем начала оценки</h2>
                    {% endif %}
                {% endif %}

            {% elif fixed_id %}
                <h2>Результаты оценки вклада зафиксированы атаманами<br>Вот ее результаты</h2>
                    <br><br>
                    {% if current_user.is_chieftain %}
                        <div class="">
                            <a class='nav__link border' href="{{ url_for('add_to_blockchain') }}">Записать результаты в блокчейн</a>
                        </div>
                    {% endif %}<br><br>
                    <table class="result_table" cellspacing="0">
                        <thead>
                            <tr>
                                <td></td>
                                {% for c in criterions %}
                                    <td>{{c}}</td>
                                {% endfor %}
                                <td>Сумма</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in user_info %}
                            <tr>
                                {% for cell in row %}
                                <td>{{cell}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            {% elif emission_id %}
                <h2>Результаты оценки вклада записаны в блокчейн<br><br>Ожидаем эмиссии токенов</h2>
            {% else %}
                <h2>В данный момент нет активного анкетирования</h2>
                <br><br>
                {% if current_user.is_chieftain %}
                <a class="nav__link border" href="{{url_for('start_questionnaire')}}">Начать новое анкетирование</a>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>


</div>

{% endblock %}