{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="construktor">
        <h2>Конструктор вопросов</h2>
        <form method="post", action="" class="form">
            {{ form.hidden_tag() }}
            {{ form.csrf_token() }}
            <p>
            <h3>{{ form.question_form.label }}</h3>
                {{ form.question_form(class_="text_field", rows='15',cols='75') }}
                {% for error in form.question_form.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
            <h3>{{ form.question_type.label }}</h3>
                {{ form.question_type(class_="text_field", rows='15',cols='75') }}
                {% for error in form.question_type.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            <br><label>(1 - вопрос для личной анкеты, 2 - вопрос для командной анкеты)</label>
            </p>
            {{ form.submit(class_="submit") }}
            {% if successful %}
                <label style="color: green;">Вопрос добавлен</label>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}