{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="progress" style="width: 50%; margin: 50px;">
        {% if access.questionnaire_opened %}
        <h2>Прогресс прохождения анкетирования</h2>

        <p style="padding-top: 20px;">
            <span> Всего анкетируемых: <span class="main_text">{{ questionnaire.max_particip }}</span></span><br>
            <span> Пройдено личных анкет: <span class="main_text"> {{ questionnaire.already_self }} из {{ questionnaire.max_particip }}</span></span><br>
            <span> Пройдено командных анкет: <span class="main_text">{{ questionnaire.already_team }} из {{ questionnaire.all_team_particip }}</span></span><br>
            {% if not_participated_self %}
                <p>
                <tbody>
                    <table class="table">
                        <th colspan="4" class="th">Не прошли личную анкету:</th>
                        <tr class="tr">
                            <th class="th">ID</th>
                            <th class="th">NAME</th>
                            <th class="th">SURNAME</th>
                            <th class="th">TEAM</th>
                        </tr>

                        {% for user in not_participated_self %}
                        <tr class="tr">
                            <td class="td_main">{{ user[0] }}</td>
                            <td class="td_main"><a class="nav__link" href="/user_profile?user_id={{user[0]}}" target="_blank">{{ user[1] }}</a></td>
                            <td class="td_main"><a class="nav__link" href="/user_profile?user_id={{user[0]}}" target="_blank">{{ user[2] }}</a></td>
                            <td class="td_main">{{ user[3] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </tbody>
                </p>
            {% endif %}
            {% if not_participated_team %}
                <p>
                <tbody>
                    <table class="table">
                        <th colspan="4" class="th">Не прошли командную анкету</th>
                        <tr class="tr">
                            <th class="th">ID</th>
                            <th class="th">NAME</th>
                            <th class="th">SURNAME</th>
                            <th class="th">TEAM</th>
                        </tr>

                        {% for user in not_participated_team %}
                        <tr class="tr">
                            <td class="td_main">{{ user[0] }}</td>
                            <td class="td_main"><a class="nav__link" href="/user_profile?user_id={{user[0]}}" target="_blank">{{ user[1] }}</a></td>
                            <td class="td_main"><a class="nav__link" href="/user_profile?user_id={{user[0]}}" target="_blank">{{ user[2] }}</a></td>
                            <td class="td_main">{{ user[3] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </tbody>
                </p>

            {% endif %}
        </p>
        <a class='nav__link border' href="{{ url_for('finish_questionnaire') }}">Завершить анкетирование</a>
        <br><br>
        <!--a class="nav__link border" href="{{url_for('graphs_teams')}}">Создать графы</a-->
        {% else %}
            {% if ready %}
                {% if access.assessment_opened %}
                    <h2>В настоящее время проходит оценка вклада</h2>
                    <br><br>
                    <!--a class="nav__link border" href="{{url_for('graphs_teams')}}">Создать графы</a-->
                {% else %}
                    {% if current_user.is_admin %}
                    <h2>Анкетирование завершено, можно приступать к оценке</h2>
                    <div class="vote_progress">

                        <form method="post">
                            {{ form.hidden_tag() }}
                            {{form.month1.label}}<br>
                            <label>С</label>
                            <select name="month1">
                                <option selected disabled></option>
                                {% for month in monthes %}
                                    <option value="month">{{month}}</option>
                                {% endfor %}
                            </select>
                            <label>По</label>
                            <select name="month2">
                                <option selected disabled></option>
                                {% for month in monthes %}
                                    <option value="month">{{month}}</option>
                                {% endfor %}
                            </select><br><br>

                            {{form.submit()}}
                        </form>
                        {% if msg %}
                        <p>{{msg}}</p>
                        {% endif %}
                        <!--a class='nav__link border' href="{{ url_for('start_assessment') }}">Начать оценку</a-->
                    </div>
                    {% endif %}
                {% endif %}


            {% else %}
                <h2>В данный момент нет активного анкетирования</h2>
                <br><br>
                <a class="nav__link border" href="{{url_for('start_questionnaire')}}">Начать новое анкетирование</a>
            {% endif %}
        {% endif %}
    </div>


</div>

{% endblock %}