{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="login">
        <h2> Восстановить пароль </h2>
            <form action="" method="post" novalidate class="form">
                {{ form.csrf_token() }}
                {{ form.hidden_tag() }}
                <p>
                    <span class="main_text">{{ form.login.label }}</span> <br>
                    {{ form.login(size=32) }} <br>
                    {% for error in form.login.errors %}
                    <span style="color: red;"> {{error}} </span>
                    {% endfor %}
                </p>
                <p>
                    <span class="main_text">{{ form.password.label }}</span> <br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;"> {{error}} </span>
                    {% endfor %}
                </p>
                <p>
                    <span class="main_text">{{ form.password2.label }}</span> <br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;"> {{error}} </span>
                    {% endfor %}
                </p>
                <p> {{ form.submit(class_="submit") }} </p>
            </form>
    </div>
</div>
{% endblock %}
