{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-left:10%;width:80%;">
    <div class="nav_href">
        <a href="/">главная</a> - <a href="/community">сообщество</a> - <a class="cur_href" href="">услуги</a>
    </div>
    <h3>Выберите интересуюшую вас услугу из списка</h3><br>
    {% if current_user.is_dealer %}
    <button class="nav__link finish_vote_btn" style="margin-left:0;" onclick="document.location.href='/add_service';">+ добавить услугу</button>
    <button class="nav__link finish_vote_btn" style="margin-left:0;" onclick="document.location.href='/check_code';">проверить код</button>
    {% endif %}
    {% if not services %}
        <br><br><h3>Список услуг пока пуст</h3><br>
    {% endif %}
    <table class="services_table">
        <tr>
            <td>
                <div class="scroll_block">
                    <table class="scroll_table" cellpadding="0" cellspacing="0">
                        {% for s in services %}
                        <tr >
                            <td class="services_td">
                                <div class="services_name_block">
                                    {{s.name}}
                                </div>
                                <div class="services_price_block">
                                    {{s.price}} кт/{{s.unit}}
                                </div>
                                <div class="services_button_block">
                                    {% if current_user.is_dealer %}
                                    <button class="nav__link finish_vote_btn" style="padding:10px 50px;border-radius:7px;color:black;background:white;" onclick="document.location.href='/change_service/{{s.id}}';">Изменить</button>
                                    {% endif %}
                                    <button class="nav__link finish_vote_btn" style="padding:10px 50px;border-radius:7px;" onclick="document.location.href='/service/{{s.id}}';">Подробнее</button>

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </td>
        </tr>

    </table>
</div>
{% endblock %}