{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="signup">
        <h2> Регистрация </h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token() }}
            <p>
                <span class="main_text">{{ form.email.label }}</span> <br>
                {{ form.email(size=32) }}
                {% for error in form.email.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.login.label }}</span> <br>
                {{ form.login(size=32) }}
                {% for error in form.login.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
           <p>
                <span class="main_text">{{ form.password.label }} </span><br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.password2.label }}</span> <br>
                {{ form.password2(size=32) }}
                {% for error in form.password2.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.name.label }}</span> <br>
                {{ form.name(size=32) }}
                {% for error in form.name.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.surname.label }} </span><br>
                {{ form.surname(size=32) }}
                {% for error in form.surname.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.tg_nickname.label }} </span><br>
                {{ form.tg_nickname(size=32) }}
                {% for error in form.tg_nickname.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.courses.label }} </span><br>
                {{ form.courses(size=64) }}
                {% for error in form.courses.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.participate.label }}</span>
                {{ form.participate(class_="submit", id_='participate') }} <br> 
                {{ form.team(class_="submit_team") }}
                {{ form.role.label }}
                {{ form.role(class_="submit_team") }}
            </p>
            <p>
                <span class="main_text">{{ form.birthday.label }} </span><br>
                {{ form.birthday }}
                {% for error in form.birthday.errors %}
                <span style="color: red;"> {{error}} </span>
                {% endfor %}
            </p>
            <p>
                <span class="main_text">{{ form.sex.label }}</span> <br>
                {{ form.sex(class_="submit_sex") }}
            </p>
            <p>
                <span class="main_text">{{ form.education.label }} </span><br>
                {{ form.education }}
            </p>
            <p>
                <span class="main_text">{{ form.work_exp.label }}</span> <br>
                {{ form.work_exp }}
            </p>
            <p>
                <span class="main_text">{{ form.vk_url.label }}</span> <br>
                {{ form.vk_url }}
            </p>
            <p>
                <span class="main_text">{{ form.fb_url.label }} </span><br>
                {{ form.fb_url }}<br>
                <label>если нет, оставить -</label>
            </p>
            <p>
                <span class="main_text">{{ form.inst_url.label }}</span> <br>
                {{ form.inst_url }}<br>
                <label>если нет, оставить -</label>
            </p>
            <p>
                {{ form.submit(class_="submit") }}
            </p>
        </form>
    </div>
</div>
{% endblock %}
