{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-left:10%;">
    <div class="crew_div">
        {% for team in info %}
        <h3 class="team_title"><span>{{team[0].name}}</span></h3>
                {% if team[1] %}
                    <ol>
                        {% for member in team[1] %}
                        <li class="main_text">{{member.name}} {{member.surname}}</li>
                        {% endfor %}
                    </ol>

                {% else %}
                    <p class="main_text">На данный момент нет участников</p>
                {% endif %}
        {% if team[2] %}
            <button class="nav__link" onclick="document.location='/edit_team?tid={{team[0].id}}'">Редактировать состав</button>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}