{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-left:10%;">
    {% if user %}
        <h2>{{user.name}} {{user.surname}}</h2>
        <p><b>Дата рождения</b>: {{date}}</p>
        <br>
        <p><b>Электронная почта</b>: {{user.email}}</p>
        <p><b>Профиль Telegram</b>: <a href="https://t.me/{{user.tg_nickname}}" target="_blank">t.me/{{user.tg_nickname}}</a></p>
        <br>
        <p><b>Пройденные курсы</b>: {{user.courses}}</p>
        <p><b>Опыт работы</b>: {{user.work_exp}}</p>

    {% else %}
        <h1>Этого пользователя не существует</h1>
    {% endif %}
</div>
{% endblock %}