{% extends "base.html" %}
{% block content %}
<div class="small_card_container">
    <div class="small_card_flex">
        <div class="small_card" style="max-width:40%;">
            <p class="small_card_text"><b>Вы уверены что хотите внести текущие записи в блокчейн?</b> После этого действия система моментально забонирует токены вклада и инвестиций, а после окончания оценки отправит их на соответсвующие кошельки</p>
            <div style="width:90%;display:flex;flex-direction:row;justify-content:space-between;margin-top:10px;margin-bottom:10px;">
                <a class="eth_button" style="width:40%;margin-left:0;">Подтвердить</a>
                <a class="eth_button" style="width:40%;">Отмена</a>
            </div>
        </div>
    </div>

    </div>

{% endblock %}